.disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
}

.disclaimer h1 {
  font-size: xx-large;
  font-weight: bold;
  color: #ff00af;
  padding-bottom: 2rem;
}

.disclaimer li {
  list-style-type: disc;
  font-size: medium;
}

.disclaimer li a:hover {
  color: #ff00af;
}

.risks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80vw;
}

.risks h1 {
  align-self: center;
  font-size: xx-large;
  padding: 2rem 0;
  color: #ff00af;
}

.risks p {
  font-size: medium;
}

.risks li {
  list-style-type: disc;
  font-size: medium;
}

.risks strong {
  color: #ff00af;
  padding: 1rem 0;
}
