.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-size: xx-large;
  color: #ff00af;
}

.about ul {
  padding-top: 1rem;
}

.about li {
  font-size: medium;
  list-style-type: disc;
}

.about li ul {
  padding-top: 0px;
  padding-left: 10px;
}

.about li ul li {
  list-style-type: none;
}

.about li ul li:last-child {
  padding-left: 20px;
}

.about em {
  color: #ff00af;
  font-style: normal;
  font-weight: bold;
}

.about a:hover {
  color: #ff00af;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanation h2 {
  font-size: xx-large;
  color: #ff00af;
  padding: 1rem 0;
}

.explanation li {
  font-size: medium;
}

.explanation li em {
  font-style: normal;
  font-weight: bold;
  color: #ff00af;
}
