.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-size: xx-large;
  text-decoration: underline;
}

.about ul {
  padding-top: 1rem;
}

.about li {
  font-size: medium;
}
