.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-size: xx-large;
  color: #ff00af;
}

.about ul {
  padding-top: 1rem;
}

.about li {
  font-size: medium;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanation h1 {
  font-size: xx-large;
  color: #ff00af;
  padding: 1rem 0;
}

.explanation li {
  font-size: medium;
}

.explanation li em {
  font-style: normal;
  font-weight: bold;
  color: #ff00af;
}
