.claim {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20vh;
}

.claim h1 {
  font-size: xx-large;
  font-size: max(8vw, 46px);
  line-height: max(7vw, 42px);
}

.claim h1 em {
  color: #ff00af;
  font-style: normal;
  font-weight: bold;
}

.claim img {
  max-width: 10vw;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
}

.about h2 {
  font-size: xx-large;
  color: #ff00af;
}

.about ul {
  padding-top: 1rem;
}

.about li {
  font-size: medium;
  list-style-type: disc;
}

.about li ul {
  padding-top: 0px;
  padding-left: 10px;
}

.about li ul li {
  list-style-type: none;
}

.about em {
  color: #ff00af;
  font-style: normal;
  font-weight: bold;
}

.about a:hover {
  color: #ff00af;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
}

.disclaimer h2 {
  font-size: xx-large;
  color: #ff00af;
  padding-top: 10vh;
  padding-bottom: 1rem;
}

.disclaimer li {
  list-style-type: disc;
  font-size: medium;
}

.disclaimer li a:hover {
  color: #ff00af;
}

.risks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80vw;
}

.risks h2 {
  align-self: center;
  font-size: xx-large;
  padding-top: 10vh;
  padding-bottom: 1rem;
  color: #ff00af;
}

.risks p {
  font-size: medium;
}

.risks li {
  list-style-type: disc;
  font-size: medium;
}

.risks strong {
  color: #ff00af;
  padding-top: 1rem;
}
