.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-size: xx-large;
}

.about ul {
  padding-top: 1rem;
}

.about li {
  font-size: medium;
}

.about a {
  padding: 1rem;
}

.about a:hover {
  color: #ff00af;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanation h1 {
  font-size: xx-large;
  padding: 1rem 0;
}

.explanation li {
  font-size: medium;
}

.explanation a {
  padding: 1rem;
}

.explanation a:hover {
  color: #ff00af;
}
