.claim {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17.5vh;
}

.claim h1 {
  font-size: xx-large;
  font-size: max(7.5vw, 44px);
  line-height: max(7vw, 42px);
}

.claim h1 p:first-of-type {
  font-size: max(9.4vw, 56px);
}

.claim img {
  max-width: 10vw;
}

.hint {
  color: #ddd;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
}

.about ul {
  padding-top: 1rem;
}

.about li {
  font-size: medium;
  list-style-type: disc;
}

.about li ul {
  padding-top: 0px;
  padding-left: 10px;
}

.about li ul li {
  list-style-type: none;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
}

.disclaimer h2 {
  padding-top: 10vh;
  padding-bottom: 1rem;
}

.disclaimer li {
  list-style-type: disc;
  font-size: medium;
}

.risks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80vw;
}

.risks h2 {
  align-self: center;
  padding-top: 10vh;
  padding-bottom: 1rem;
}

.risks p {
  font-size: medium;
}

.risks li {
  list-style-type: disc;
  font-size: medium;
}

.risks strong {
  color: #ff00af;
  padding-top: 1rem;
}
