.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
  border-radius: 8px;
  margin-top: 3rem;
  padding: 1.5rem 3rem;
  gap: 1rem;
}

.container h1 {
  font-size: xx-large;
  color: #ff00af;
}

.container ul {
  padding-left: 1rem;
}

.container a:hover {
  color: #ff00af;
  transition: 0.1s ease;
}

.discord a:hover {
  color: #5865f2;
  transition: 0.1s ease;
}
