.page {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.container {
  padding: 0 2rem;
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
