.container {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #222;
  color: #fff;
}

.nav a {
  color: #fff;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 26px;
  padding-left: 0.5rem;
  color: #ff00af;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #ff00af;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.input {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #222;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #ff00af;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type='checkbox']:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
