.page {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}
