.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
  border-radius: 8px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 1rem 1.5rem;
  gap: 1rem;
}

.container h3 {
  font-size: x-large;
  color: #ff00af;
}

.container ul {
  padding-left: 0.5rem;
}

.container a:hover {
  color: #ff00af;
  transition: 0.1s ease;
}

.discord a:hover {
  color: #5865f2;
  transition: 0.1s ease;
}
