html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: white;
  background: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}

h2 {
  font-size: xx-large;
  color: #ff00af;
}

h3 {
  font-size: x-large;
  color: #ff00af;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}
