html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: white;
  background: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
  @apply w-auto;
}

li {
  list-style: none;
}

h1 {
  @apply text-4xl text-main;
}

h2 {
  font-size: xx-large;
  color: #ff00af;
}

h3 {
  font-size: x-large;
  color: #ff00af;
}

h4 {
  font-size: medium;
  color: #ff00af;
  margin-top: 0.5rem;
}

em {
  color: #ff00af;
  font-style: normal;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}

.tabs {
  background-color: #333;
}

.card-body {
  padding: 0.5rem;
}

.btn-bordered,
.btn[disabled] {
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --tw-border-opacity: 0.2;
}

.deposit-border-color {
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --tw-border-opacity: 0.2;
}

.collapse-title,
:where(.collapse > input[type='checkbox']),
:where(.collapse > input[type='radio']) {
  width: 100%;
  padding: 1rem /* 16px */;
  padding-right: 3rem /* 48px */;
  min-height: 1.75rem /* 60px */;
  transition: background-color 0.2s ease-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
